
<form name="addServiceForm" id="add-service-form">

     <div class="modal-header green-modal-header">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title">Add Service</h4>
    </div>

     <div class="modal-body" id="add-service-body">

        <!-- Service Name Input -->
        <div class="form-group"
         ng-class="{'has-error' : addServiceForm.serviceName.$invalid && addServiceForm.serviceName.$touched}">

        <!-- Label and input field -->
        <label for="service-name">Service Name:</label>
        <input name="serviceName" type="text" class="form-control add-service-fields"
        id="service-name" ng-model="formData.serviceName" ng-pattern="/^[\s+a-zA-Z0-9_\-]*$/" required>

        <!-- Error Feedback -->
        <p ng-show="addServiceForm.serviceName.$error.required && addServiceForm.serviceName.$touched"
        class="help-block">
            Enter a name for the map service.
        </p>
        <p ng-show="addServiceForm.serviceName.$error.pattern && addServiceForm.serviceName.$touched"
        class="help-block">
            Service Names may only contain letters, numbers, dashes or underscores.
        </p>
        </div>

        <!-- Service URL Input -->
        <div class="form-group"
        ng-class="{'has-error' : addServiceForm.serviceUrl.$invalid && addServiceForm.serviceUrl.$touched}">

            <!-- Label and input field -->
            <label for="service-url">Service URL</label>
            <input name="serviceUrl" type="url" class="form-control add-service-fields"
             id="service-url" ng-model="formData.serviceUrl" required>

             <!-- Error Feedback -->
            <div class="has-error"> <!-- Boostrap:  makes help text red -->
                <p ng-show="addServiceForm.serviceUrl.$error.required && addServiceForm.serviceUrl.$touched"
                class="help-block">
                    URL required, pointing to a GetCapabilities xml file.
                </p>
                <p ng-show="addServiceForm.serviceUrl.$error.url && addServiceForm.serviceUrl.$touched"
                 class="help-block">
                    This is not a valid URL.  Check for typing mistakes.
                </p>
            </div>

        </div>

        <div class="checkbox">
            <input type="checkbox" id="enable-caching-checkbox" ng-model="formData.enableCache">
            <label for="enable-caching-checkbox">
                Enable Cache
            </label>
       </div>

        <!-- Caching switch only compatible with old bootstrap, not ui-bootstrap -->
        <!-- <div class="form-group">
            <label for="cache">Caching</label>
            <input type="checkbox" name="cache" checked id="cache-switch">
        </div> -->
    </div>

    <div class="modal-footer" id="add-service-footer">
        <button id="add-service-btn" type="submit" class="btn btn-primary"
        ng-click="attemptAddService(addServiceForm)"
        ng-class="{ 'invalid' : addServiceForm.$invalid }">
            Add Service
        </button>
        <button type="button" class="btn btn-secondary" ng-click="closeModal()" zdata-dismiss="modal">Cancel</button>
    </div>

</form>
