<div class="modal-header" id="basic-error-modal-header">
  <button type="button" class="close" ng-click="closeModal()">&times;</button>
  <h4 class="modal-title">{{title}}</h4>
</div>


<div class="modal-body">
  <h4 ng-hide="err.status == null">Status: {{err.status}}</h4>

  <span ng-switch="errorType">
      <div ng-switch-when="noConnection">
          <h4>Could not connect to the GPEP server.</h4>
      </div>

      <div ng-switch-when="internal">
          <h4>Internal Server Error.</h4>
          <pre style="max-height: 400px; font-size: 15px;"><h4>{{err.data}}</h4></pre>
      </div>

      <div ng-switch-when="notFound">
          <h4>Endpoint does not exist.</h4>
      </div>

      <div ng-switch-when="customString" >
          <pre style="white-space: pre-wrap; word-break: normal"><h4>{{err.data}}</h4></pre>
      </div>

      <div ng-switch-when="customArray" ng-repeat="error in err.data">
          <pre style="white-space: pre-wrap"><h4>{{error}}</h4></pre>
      </div>

      <div ng-switch-when="djangoValidation" ng-repeat="error in errors">
          <h4> <span style="font-weight:bold;">{{error.field}}: </span>{{error.error}}</h4>
      </div>

      <div ng-switch-when="unknown">
          <pre style="white-space: pre-wrap"><h4>{{err.data}}</h4></pre>
      </div>
  </span>







</div>

<div class="modal-footer" id="basic-error-modal-footer">
  <button ng-click="closeModal();" type="submit" class="btn error-button">
      OK
  </button>
</div>
