

<div class="modal-header green-modal-header">
  <button type="button" class="close" ng-click="closeModal()">&times;</button>
  <h4 class="modal-title">Start A Cleaning Job?</h4>
</div>

<div class="modal-body" id="cleaning-modal-body">
    Would you like to start a cleaning job?
    <br>
    <br>

    <div ng-include="'components/map/views/supported_unsupported_services.html'"></div>

    <i>Note:  The area to be cleaned is represented by the <b>red</b> bounding box.</i>
</div>

<div class="modal-footer" id="cleaning-modal-footer">
  <button id="add-service-btn" ng-click="startCleaning(); closeModal();" type="submit" class="btn btn-primary">
      Start Cleaning
  </button>
  <button type="button" class="btn btn-secondary" ng-click="closeModal()" zdata-dismiss="modal">Cancel</button>
</div>
