<div class="modal-header red-modal-header">
  <button type="button" class="close" ng-click="closeModal()">&times;</button>
  <h4 class="modal-title">Delete Service {{service.name}}?</h4>
</div>

<div class="modal-body" id="cleaning-modal-body">
    Are you sure you would like to delete the service <b>{{service.name}}</b>?
    <br>
    <i>This will delete all map imagery associated with this service.</i>
</div>

<div class="modal-footer" id="cleaning-modal-footer">
  <button ng-click="deleteService(); closeModal();" type="submit" class="btn btn-danger">
      Delete
  </button>
    <button type="button" class="btn btn-secondary" ng-click="closeModal()" zdata-dismiss="modal">Cancel</button>
</div>
