
<div class="modal-header green-modal-header">
  <button type="button" class="close" ng-click="closeModal()">&times;</button>
  <h4 class="modal-title">Export {{mapProxyApp.name}}</h4>
</div>

<div class="modal-body">
    <p>This will create a .pep file with the entire cache for this service. You can then import the .pep into another instance of GPEP.</p>
   
    <div ng-if="!calculating()">Size Estimate: {{mapProxyApp.cache_size | filesize}}</div>
    <div ng-if="calculating()">Calculating size estimate...</div>

    <div ng-include="'components/map/views/supported_unsupported_services.html'"></div>

</div>

<div class="modal-footer">
  <button id="add-service-btn" ng-click="startExport(); closeModal();" type="submit" class="btn btn-primary">
      Start Export
  </button>
  <button type="button" class="btn btn-secondary" ng-click="closeModal()">Cancel</button>
</div>