<!-- Table of Contents -->

<!-- Side Navigation Bar Wrapper -->
<!-- Side Bar List (where service and layer list items are) -->
<div ng-controller="MapController">

    <!-- Drag and Droppable .pep or .gpkg files onto the map view -->
    <import-overlay></import-overlay>

    <!-- side nav component, where services and layers can be selected and deselected -->
    <side-nav count=count on-select-layer="selectLayer(layer, service)" on-deselect-layer="deselectLayer(layer)"
    on-reorder-layers="reorderLayers(orderedLayerIds)" on-toggle-visibility="toggleVisibility(layer)"
    on-base-layer-update="updateBaseLayer(baseLayer)">
    </side-nav>

    <!-- Settings Panel Component -->
    <!-- seeding/packaging/cleaning data binding.
         uses the ServiceStore factory to get the list of selected layers-->
    <settings-panel on-bbox-change=drawBounds(bounds)
     on-zoom-levels-change=acceptNewZoomLevels(zoomLevels)>
    </settings-panel>

    <!-- wraps the buttons for the leaflet map view -->
    <div id="icon-wrapper">
        <div id="draw-wrapper"></div>
    </div>

    <!-- the actual leaflet map, where leaflet renders map tiles -->
    <div id="mapid" ng-class="{'on-progress-page': $root.isCurrentURL('/progress')}"></div>

</div>
