

<div class="modal-header green-modal-header">
  <button type="button" class="close" ng-click="closeModal()">&times;</button>
  <h4 class="modal-title">Start A Packaging Job?</h4>
</div>

<div class="modal-body" id="packaging-modal-body">
    Would you like to start a packaging job?
    <br>
    <div ng-if="!estimateError" style="white-space: pre">
    Number of Tiles: {{estimate.num_tiles | number:0}}
    Size Estimate: {{estimate.size | filesize }}
    Time Estimate: {{estimate.time_sec | duration}}
    </div>

    <div ng-include="'components/map/views/supported_unsupported_services.html'"></div>

    <div ng-if="estimateError">No time or size estimate available.</div>

    <i>Note:  The area to be packaged is represented by the <b>green</b> bounding box.</i>
</div>

<div class="modal-footer" id="packaging-modal-footer">
  <button id="add-service-btn" ng-click="startPackaging(); closeModal();" type="submit" class="btn btn-primary">
      Start Packaging
  </button>
  <button type="button" class="btn btn-secondary" ng-click="closeModal()" zdata-dismiss="modal">Cancel</button>
</div>
