<div class="modal-header" id="raw-error-modal-header">
  <button type="button" class="close" ng-click="closeModal()">&times;</button>
  <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body plain-error-modal-body">
  <h5>Status: {{err.status}}</h5>
  <div ng-if="err.status == '-1'">
    <h4>Could not connect to the GPEP server.</h4>
  </div>
  <h5>Status Text: {{err.status_text}}</h5>
  <h5>Data: {{err.data}}</h5>
</div>
<div class="modal-footer" id="basic-error-modal-footer">
  <button ng-click="closeModal();" type="submit" class="btn error-button">
      OK
  </button>
</div>
