

<div class="modal-header green-modal-header">
  <button type="button" class="close" ng-click="closeModal()">&times;</button>
  <h4 class="modal-title">Start A Seed Job?</h4>
</div>

<div class="modal-body" id="seeding-modal-body">
    <b>Would you like to start a seeding job?</b>

    <div ng-if="!estimateError" style="white-space: pre">
    Number of Tiles: {{estimate.num_tiles | number:0}}
    Size Estimate: {{estimate.size | filesize }}
    Time Estimate: {{estimate.time_sec | duration}}
    </div>

    <div ng-if="estimateError" style="white-space: pre">
    No time or size estimate available.
    </div>

    <div ng-include="'components/map/views/supported_unsupported_services.html'"></div>

    <i>Note:  The area to be seeded is represented by the <b>red</b> bounding box.</i>
</div>

<div class="modal-footer" id="seeding-modal-footer">
  <button id="add-service-btn" ng-click="startSeeding(); closeModal();" type="submit" class="btn btn-primary">
      Start Seeding
  </button>
  <button type="button" class="btn btn-secondary" ng-click="closeModal()" zdata-dismiss="modal">Cancel</button>
</div>
