<div class="modal-header info-modal-header" id="info-header">
    <button type="button" class="close" ng-click="closeModal()">&times;</button>
    <h4 class="modal-title">{{serviceName}} Information and Options</h4>
</div>
<div class="modal-body" id="info-body">
    <div class="form-group">
        <label>GetCapabilities XML files for the {{serviceName}} service:</label>
        <br>

        <p id="wmsCapabilities">WMS:
            <a ng-href={{wmsUrl}}>{{wmsUrl}}</a>
        </p>

        <p id="wmtsCapabilities" ng-show="isCachingEnabled">WMTS:
            <a ng-href={{wmtsUrl}}>{{wmtsUrl}}</a>
        </p>

        <p ng-show="!isCachingEnabled">Enable caching to get WMTS capabilities.</p>


    </div>

    <div class="checkbox">
        <input type="checkbox" id="enable-caching-checkbox" ng-model="desiresCache" ng-disabled="!isCachingAvailable">
        <label for="enable-caching-checkbox">
            Enable Cache
        </label>
   </div>

   <div class="button">
       <button id="add-service-btn" type="submit" class="btn btn-primary"
        ng-click="enableCache(desiresCache)" ng-disabled="!isCachingAvailable">
           Apply
       </button>
   </div>

   <div class="has-error">
       <div ng-show="!isCachingAvailable" class="help-block">
           Caching is currently not able to be changed for this service.
       </div>
   </div>


</div>
