<div ng-if="JobFactory.getUnsupportedSelectedServices(jobType).length > 0">
    <b>Some selected services do not support seeding.</b>

    <div style="margin-left: 1em;">
        <br>
        These services <b>will not</b> be seeded:

        <ul>
            <li ng-repeat="service in JobFactory.getUnsupportedSelectedServices(jobType)">
                {{service.name}}
            </li>
        </ul>

        These services <b>will</b> be seeded:
        <ul>
            <li ng-repeat="service in JobFactory.getSupportedServices(jobType)">
                {{service.name}}
            </li>
        </ul>
    </div>
</div>
