.side-nav-wrapper {

    #side-nav-search-icon {
        position: absolute;
        padding: 7px;
    }

    #side-nav-settings-icon {
        position: absolute;
        margin-left: 10px;
        line-height: 30px;
        color: #244465;
        /* same as add service icon */
    }
    #selectedLayerList{
       -webkit-box-shadow: 0 2px 10px -5px #464646;
        -moz-box-shadow: 0 2px 10px -5px #464646;
        box-shadow: 0 2px 10px -5px #464646;
    }

    #selectedLayerList.no-layers-selected {
        opacity: 0.5;
    }

    #search {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 10px;
        background: #d3d5d8 !important;
        border: none;
        width: 100%;
        /*    border-radius: 10px;*/
    }

    #search:focus {
        outline: none;
        transition: 3;
        -webkit-box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.39);
        box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.39);
    }

    #clearSearch {
        position: absolute;
        padding: 7px;
        right: 17px;
        top: 15px;
    }

    /*
    #search-wrapper label {
        position: absolute;
        right: 27px;
        top: 18px;
    }
    */

    #clearSearch {
        cursor: pointer;
    }

    .panel-title {
        font-weight: 700;
        word-break: break-all;
        line-height: 130%;  /* more spacing between lines is prettier */
    }

    .dropdown-menu li i {
        margin-right: 5px;
    }

    .fa-trash-o {
        color: #C77876;
    }

    .fa-info-circle {
        color: #6b9ecb;
    }
} // closing of .side-nav-wrapper
