#mapid {
    width: 100%;
    height: 100%;
    position: fixed;
}

.hidden-snapped-bbox {
    display: none;
}

// used to hide everything on the map page, except the leaflet tiles
.make-hidden {
    visibility: hidden;
}

.on-progress-page {
    opacity: 0.35;
    pointer-events: none;
}

.leaflet-bar a:last-child {
     border-bottom-left-radius: 0px !important;
     border-bottom-right-radius: 0px !important;
    border-bottom: none;
}
.leaflet-bar a:first-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.leaflet-control-layers-expanded {
    /* padding: 6px 10px 6px 6px; */
    color: #333;
    background: #fff;
    padding: 15px !important;
}

.leaflet-control-layers {
    margin: 0;
    float: right !important;
    border-radius: 0 !important;
}

#icon-wrapper {
    position: fixed;

    right: 0;
    left: 0;
    bottom: 0;
    top: 51px;

    z-index: 2;
    margin: 10px;
    pointer-events: none;
}

#draw-wrapper {
    position: absolute;
    right: 1px;
    top: 60px
}

/*Makes the draw control info boxes pop to the left when opened*/
.leaflet-draw-actions {
    right: 26px;
    left: unset;
}

/*Allows buttons to be expand width to fit content inside
Default button shape is a square which does not expand*/
#set-min-btn, #set-max-btn {
    width: 100%;
    text-align: left;
}

// used to toggle grid lines on leaflet map
.show-grid .leaflet-tile {
    outline: solid rgba(0, 0, 0, 0.61) 1px;
    outline-color: invert;
}

.leaflet-top {
    top: 50px;
}

// no space between rectangle draw button, and the edit/delete layer buttons
.leaflet-draw-section .leaflet-draw-toolbar {
    margin-top: 0px;
}

// remove rounded corners from leaflet buttons
.leaflet-bar-part, .leaflet-bar {
    border-radius: 0px !important;
}

// makes search box extent to the left, not the right
.leaflet-control-geosearch form {
    left: unset;
    right: 22px;
}

// makes the draw rectangle button not covered by shadow
.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    position: relative;
    z-index: 500;
    border-bottom: 1px solid #d5d5d5 !important;
}

.leaflet-control-geosearch {
    display: none;
}
