#basic-error-modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    color: white;
    background-color: #d35353;
}

.error-button {
    color: #fff;
    background-color: #d35353;
}

#basic-error-modal-body {
    white-space: pre-line;
}

.info-modal-header {
    color: white;
    background-color: #529fcb;
}

.basic-error-modal-body {
    line-height: 130%;
}

.plain-error-modal-body {
    white-space: pre-wrap !important;
}


                                      /***** Adjusts Modal Position **********/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 60%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*************************** Add Service from File ************************/

form[name=addServiceForm] {
    // style for drag and drop box
     .drop-box {
         background: #F8F8F8;
         border: 3px dashed #DDD;
         width: 100%;
         height: 150px;
         text-align: center;
         margin-top: 22px;
         margin-bottom: 15px;
         padding: 30px;
         font-size: 16px;
         cursor: pointer;
    }
    .dragover {
        border: 3px dashed #94d09a;
        background-color: #eaf6eb;
    }

    label {
        font-size: 16px;
        font-weight: unset;
    }

    // TODO remove #file-identifier
    #file-identifier {
      margin-top: 5px;
      margin-bottom: 10px;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      border: 1px solid #cacaca;
      padding: 8px;
      padding-left: 15px;
      /* padding-right: 20px; */
      padding-right: 10px;
      display: inline-block;
      border-bottom: 10px;

      .remove-file-icon {
        font-size: 30px;
        color: #c08d8d;
        vertical-align: -6px;
      }
    }

    .file-identifier-bootstrap {
        width: 70%;
        /* border: 1px solid black; */
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 25px;
        margin-bottom: 25px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        border: 1px solid #cacaca;
        display: flex;
        align-items: center;
        padding: 5px;

        .remove-file-icon {
          font-size: 30px;
          color: #c08d8d;
          vertical-align: -6px;
          cursor: pointer;
        }
    }



    #add-service-body {
        padding: 18px;
        padding-left: 25px;
        padding-right: 25px;
    }

    input[type="checkbox"] {
        cursor: pointer;
    }
    // #file-identifier i {
    //     line-height: 21px;
    // }

} // closing tag of Add Service form

.red-modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    color: white;
    background-color: #d35353;
}
