
body{
    background-color: #ebebeb;
}

// UI Bootstrap adds awkward box shadow to dropdown menus
// when those menus are toggleable. remove it.
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}


// used to prevent inputs of type number from showing

//fixes on firefox
input[type="number"] {
    -moz-appearance: textfield;
}

// fixes on chrome
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}


/*make the header for modals which add or start new tasks green*/
.green-modal-header {
    background-color: #7cbd6c !important;
    color: white;
}

#add-service-btn {
    background-color: #7cbd6c !important;
    border: none !important;
}

#add-service-footer {
    border-radius: 0 !important;
}

.modal-content {
    border-radius: 0 !important;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item-selected {
    background: #d9ebfc;
}

.list-group-item:hover {
    background: #e2e2e2;
}



/*li[class~=list-group-item-selected]{
    background: #e1e8ef;
}*/
