#toast-container {
    margin-top: 49px;
    margin-right: 50px;

    .toast:hover {
        opacity: 0.85;
    }

    .toast-service-added {
        opacity: 0.83;
        background-color: #51A351;
    }
    /*.toast-service-added:before {
        content: "\f0ac";
    }*/

    .toast-service-adding {
        background-color: #0098dd;
    }

    .toast-bad-connection {
        background-color: #ff4100;
    }

    /*Positions FA icons properly in toastr toasts*/
    .toast-icon {
        position: absolute;
        left: 8px;
        top: 20px;
    }

    /*Toasts which don't have title text must have their icons positioned
    differently*/
    .toast-icon-body-only {
        position: absolute;
        left: 8px;
        top: 11px;
    }

    .toast-service-added:before,
    .toast-service-adding:before {
        position: absolute;
        font-family: FontAwesome;
        font-size: 26px;
        line-height: 36px;
        float: left;
        margin-left: -34px;
        color: #FFF;
    }

    progress-bar {
        opacity: 0.8
    }

} // end of #toast-container wrapper
