#drag-and-drop-area.dragging-active {
    z-index: 100000;
    background-color: rgba(255, 255, 255, 0.79);
    display: block;;
}

// disable dragging and dropping when disabled
#drag-and-drop-area.disabled {
    pointer-events: none;
    opacity: 0;
    display: none;
}

#drag-and-drop-area {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;

    .description-text-full-screen {
        position: absolute;
        width: 70%;
        text-align: center;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
    }

    .icon-full-screen i {
      position: absolute;
      width: 70%;
      text-align: center;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 200px;
      color: #373737;
    }

    // disable pointer interaction with children elements in the import overlay
    // important, as leaving child elements to interact with cursor will trigger a "DRAG LEAVING" event
    // to be fired when cursor is dragged accross, causing the overlay to flicker
    * {
        pointer-events: none !important;
    }

    .inner-area {
        position: fixed;
        top: 90px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        border: 5px dashed rgba(148, 148, 148, 0.29);
    }

} // ending tag of drag-and-drop-area
