.job-progress-component {

    $job-progress-font-color: #616161;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.27);
    margin-bottom: 20px;


    .fa-cog{
        font-size: 200%;
        line-height:46px;
        color: #7b7b7b;
        cursor: pointer;
    }

    .red-cancel-color{
        color: #C77876;
    }

    .info-color {
        color: #6b9ecb;
    }


    .status-div{
        position: absolute;
        margin-top: -10px;
        margin-left: 10px;
        cursor: default;
    }

    .progress-spinner {
        color: #ddd;
        vertical-align: 12px;
        line-height: 60px;
        margin-left: 3px;
        margin-right: 7px;
    }

    .job-header{
        color:#616161;
        background-color:white;
        padding-top: 12px;
        padding-bottom:12px;
        padding-left: 5px;
        border-bottom: solid 1px #e6e6e6;

        // give more breathing room on left side of job header
        .row {
            margin-left: -11px;
        }
    }


    .task-panel {
        height: 39px;
        background-color: #fafafa;
        padding-top: 8px;
        border-bottom: 1px solid #cecece;
        color: $job-progress-font-color;
        padding-left: 10px;

        .progress-bar {
            color: black;
        }

        .download-package-icon {
            cursor: pointer;
        }

        .error-icon {
            //color: #d75c5c;
            color: #ce6b6b;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .job-status-icon {
        font-size: 45px;
        line-height: 66px;

        &.done-color {
            color: #7bbe79;
        }

        &.cancelled-color {
            color: #df8181;;
        };

        &.failed-color {
            color: #df8181;;
        }
    }

    .job-gear {
        cursor: pointer;
        font-size: 45px;
        line-height: 66px;
        color: #a8a8a8;
    }

    .type-icon {
        font-size: 37px;
        margin-top: 3px;
        margin-left: 12px;
        margin-bottom: 0px;
        line-height: 60px;
        vertical-align: 9px;
    }

    .job-name-font {
        font-size: 16px;

        .canceled-text {
            color: #932e2e;
        }

        .complete-text {
            color: #006a00;
        }
    }

    .cancel-text-color {
        color: #932e2e;
    }

    .complete-text-color {
        color: #005200;
    }

    .progress {
        height: 15px;
        width: 100%;
        margin-top: 3px;
        margin-bottom: 0px;
        border-radius: unset;
        background-color: #dedede;
        box-shadow: unset;
        webkit-box-shadow: unset;

        &.canceled .progress-bar {
            background-color: #ff5d5d;
        }
    }

    .parameter-details-div {
        height: 100%;
        width: 250px;
        float: left;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #616161;
    }

    .task-progress .progress-bar {
        background-color: #98c896;
    }
} // closing tag of job-progress component

.progress-bar {
    transition: width 3s ease;
}
