.job-filter-settings{
     width: 290px;

     .progress-side-menu {
         padding-left: 15px;
         padding-bottom: 15px;
         padding-right: 15px;
         height: auto;
         z-index: 4;
         margin-right: 15px;
         overflow-x: hidden;
         overflow-y: hidden;
         transition: .3s;
         -webkit-transition: .3s;
         user-select: none;
    }

    .progress-side-menu-heading {
        font-size: 16px;
    }

    .progress-side-menu .panel-body {
        padding: 0px;
    }
    .progress-side-menu .checkbox {
        padding-left: 33px;
        margin-top: unset;
        margin-bottom: unset;
    }

    input[type=checkbox] {
        cursor: pointer;
    }

    .progress-side-menu {
        .checkbox:first-child {
            margin-top: 6px;
        }

        .checkbox:last-child {
            margin-bottom: 3px;
        }

        // color of filter headers
        .panel-heading {
            color: black;
        }

        .fa {
            margin-right: 3px;
        }

        // color of checkmark labels
        label {
            color: #2f2f2f;
            width: 100%;
            height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        // color of row in side menu when hovered over
        .checkbox:hover {
            background-color: #f1f1f1;
        }

        // aligns aweomse-bootstrap-checkmark with its box
        // reason: labels next to checkmarks have had margins moved
        .checkbox label::after {
            margin-top: 10px;
        }

        #progress-menu-cleaning-icon {
            height: 24px;
            position: absolute;
            bottom: 11px;
        }

        // gives space to cleaning icon so checkbox label text gets pushed
        // to the right.  icon is "absolute" positions so it doesn't take up its
        // own space
        #progress-menu-cleaning-icon-placeholder {
            height: 0px;
            width: 24px;
            opacity: 0;
        }

        .panel {
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.27);
            border-radius: 0;
        }

    } // end progress side menu


}
