<div class="job-filter-settings">


<div class="progress-side-menu">

    <!-- Job Type Filters -->
    <div class="panel panel-default">
        <div class="panel-heading progress-side-menu-heading"><b>Job Type</b></div>
        <div class="panel-body">

            <div class="checkbox">
                <input type="checkbox" id="seed-checkbox" ng-model="$ctrl.jobTypeFilters.seed">
                <label for="seed-checkbox">
                    <i class="fa fa-lg fa-cloud-download seed-color"></i> Seeding
                </label>
            </div>

            <div class="checkbox">
                <input type="checkbox" id="package-checkbox" ng-model="$ctrl.jobTypeFilters.package">
                <label for="package-checkbox">
                    <i class="fa fa-lg fa-cubes package-color"></i> Packaging
                </label>
            </div>

            <div class="checkbox">
                <input type="checkbox" id="clean-checkbox" ng-model="$ctrl.jobTypeFilters.clean">
                <label for="clean-checkbox">
                    <i class="fa fa-lg fa-eraser clean-color"></i> Cleaning
                </label>
            </div>
             <div class="checkbox">
                <input type="checkbox" id="export-checkbox" ng-model="$ctrl.jobTypeFilters.export">
                <label for="export-checkbox">
                    <i class="fa fa-lg fa-share export-color"></i> Exporting
                </label>
            </div>

        </div>
    </div>

    <!-- Status Filters -->
    <div class="panel panel-default">
        <div class="panel-heading progress-side-menu-heading"><b>Status</b></div>
        <div class="panel-body">

            <div class="checkbox checkbox-success">
                <input type="checkbox" id="status-complete-checkbox" ng-model="$ctrl.jobStatusFilters.complete">
                <label for="status-complete-checkbox">
                    Complete
                </label>
            </div>

            <div class="checkbox checkbox-info">
                <input type="checkbox" id="status-in-progress-checkbox" ng-model="$ctrl.jobStatusFilters.inProgress">
                <label for="status-in-progress-checkbox">
                    In Progress
                </label>
            </div>

            <div class="checkbox checkbox-danger">
                <input type="checkbox" id="status-cancelled-checkbox" ng-model="$ctrl.jobStatusFilters.canceled">
                <label for="status-cancelled-checkbox">
                    Cancelled
                </label>
            </div>
<!--
            <div class="checkbox checkbox-danger">
                <input type="checkbox" id="checkbox6" ng-model="$ctrl.jobStatusFilters.failed">
                <label for="checkbox6">
                    Failed
                </label>
            </div>-->
        </div>
    </div>

</div>
<!-- Side Menu ending tag -->

</div>
