<!-- Layer Selection Error -->
<div class="has-error">
   <div ng-show="!$ctrl.areAnyLayersSelected()" class="layer-selection-help-block help-block">
       No layers are selected.  Please select at least one from the layer list on the left.
   </div>
</div>
