<!-- This file contains inputs shared between the seeding, packaging, and cleaning
tabs of the Settings Panel. -->

<div class="form-group settings-panel-content-wrapper">
    <ng-form name="sharedForm" novalidate>

      <!-- Seeding Zoom Level Slider -->
      <div class="job-panel-label">Zoom Level Range</div>

      <div id="zoom-slider-wrapper">
          <div class="minZoomScale" style="float: left;">
              Min: {{$ctrl.slider.minValue}} <br>
              {{$ctrl.zoomLevelToScale($ctrl.slider.minValue)}}
          </div>

          <div class="maxZoomScale" style="float: right; text-align: right;">
              Max: {{$ctrl.slider.maxValue}} <br>
              {{$ctrl.zoomLevelToScale($ctrl.slider.maxValue)}}
          </div>
          <rzslider rz-slider-model="$ctrl.slider.minValue"
              rz-slider-high="$ctrl.slider.maxValue"
              rz-slider-options="$ctrl.slider.options">
          </rzslider>
      </div>

        <!-- Invalid Zoom Levels Error MSG -->
        <div class="has-error"> <!-- Boostrap:  makes help text red -->
            <p ng-show="!($ctrl.areZoomLevelsValid()) && $ctrl.areZoomLevelsFilled()"
             class="help-block">
            Start Zoom Level must be smaller than or equal to End Zoom Level.</p>
        </div>

        <hr>

        <div id="bbox-wrapper">

            <div id="bounding-box-group-label" class="form-group form-inline">
                <div class="job-panel-label"> Bounding Box</div>
            </div>

            <!--* North -->
            <div class="bbox-form-group form-inline" ng-class="{ 'has-error' : $ctrl.doesInputHaveError(sharedForm.north)}">
                <span class="bbox-label">North:</span>
                <input type="number" name="north" class="form-control bbox-n bbox-input layer-input"
                 ng-model="$ctrl.sharedSettings.bboxN" step="any" min="-90" max="90" required
                 ng-change="$ctrl.updateSharedSettings(); $ctrl.updateDrawnBounds();">

                 <!-- A require error happens when there is no text in the input, when there should be (input is required) -->
                <div ng-show="$ctrl.doesInputHaveRequireError(sharedForm.north)" class="help-block bbox-help-block">
                A latitude is required for North.</div>

                <!-- Range Error -->
               <div ng-show="$ctrl.doesInputHaveRangeError(sharedForm.north)" class="help-block bbox-help-block">
               Latitude is required to be between -90 and 90.</div>
            </div>

            <!--* East -->
            <div class="bbox-form-group form-group form-inline" ng-class="{ 'has-error' : $ctrl.doesInputHaveError(sharedForm.east)}">
                <span class="bbox-label">East:</span>
                <input type="number" name="east" class="form-control bbox-e bbox-input layer-input"
                 ng-model="$ctrl.sharedSettings.bboxE" step="any" min="-180" max="180" required
                 ng-change="$ctrl.updateSharedSettings(); $ctrl.updateDrawnBounds()">

                <div ng-show="$ctrl.doesInputHaveRequireError(sharedForm.east)" class="help-block bbox-help-block">
                A longitude is required for East.</div>

                <!-- Range Error -->
               <div ng-show="$ctrl.doesInputHaveRangeError(sharedForm.east)" class="help-block bbox-help-block">
               Longitude is required to be between -180 and 180.</div>

            </div>

            <!--* South -->
            <div class="bbox-form-group form-group form-inline" ng-class="{ 'has-error' : $ctrl.doesInputHaveError(sharedForm.south)}">
                <span class="bbox-label">South:</span>
                <input type="number" name="south" class="form-control bbox-s bbox-input layer-input"
                 ng-model="$ctrl.sharedSettings.bboxS" step="any" min="-90" max="90" required
                 ng-change="$ctrl.updateSharedSettings(); $ctrl.updateDrawnBounds()">

                <div ng-show="$ctrl.doesInputHaveRequireError(sharedForm.south)" class="help-block bbox-help-block">
                A latitude is required for South.</div>

                <!-- Range Error -->
               <div ng-show="$ctrl.doesInputHaveRangeError(sharedForm.south)" class="help-block bbox-help-block">
               Latitude is required to be between -90 and 90.</div>
            </div>

            <!--* West -->
            <div class="bbox-form-group form-group form-inline" ng-class="{ 'has-error' : $ctrl.doesInputHaveError(sharedForm.west)}">
                <span class="bbox-label">West:</span>
                <input type="number" name="west" class="form-control bbox-w bbox-input layer-input"
                 ng-model="$ctrl.sharedSettings.bboxW" step="any" min="-180" max="180" required
                 ng-change="$ctrl.updateSharedSettings(); $ctrl.updateDrawnBounds()">

                <div ng-show="$ctrl.doesInputHaveRequireError(sharedForm.west)" class="help-block bbox-help-block">
                A longitude is required for West.</div>

                <!-- Range Error -->
               <div ng-show="$ctrl.doesInputHaveRangeError(sharedForm.west)" class="help-block bbox-help-block">
               Longitude is required to be between -180 and 180.</div>
            </div>
        </div>  <!-- Closing tag for bbox-wrapper -->

        <!-- Entire Layer Button -->
        <button id="entire-world-btn" type="submit" class="btn btn-secondary entire-layer"
        ng-click="$ctrl.selectEntireWorld()" title="Select entire layer">
            <span class="fa fa-globe" aria-hidden="true"></span>
            Entire World
        </button>

        <!-- Entire Layer Button -->
        <button id="draw-bounds-btn" type="submit" class="btn btn-secondary entire-layer"
        ng-click="$ctrl.triggerDrawingMode()" title="Manually draw bounding box on the map view.">
            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
            Draw Bounds
        </button>

        <hr>

        <!-- This adds the shared form (zoom levels slider, bounding box) to the
         $scope, so the controller can access it.  This also allows the Start Seeding,
         Start Packaging, and Start Cleaning buttons to check if the sharedForm is
         valid. -->
        <div ng-init="$ctrl.addSharedForm(sharedForm)"></div>

        <!-- is form invalid?  {{sharedForm.$invalid}} -->
    </ng-form>
</div>
