#cancel-job-modal {
    .modal-body .row {
        display: flex;
        align-items: center;
    }

    .cancel-modal-x-icon {
        font-size: 55px !important;
        color: #df8181;
        vertical-align: -7px;
        margin-right: 5px;
    }

    .clear-modal-icon {
        font-size: 46px !important;
        color: #df8181;
        vertical-align: -1px;
        margin-right: 10px;
    }

    .package-color {
        color: #a2897d;
    }
    .seed-color {
        color: #79c185;
    }

    .clean-color {
        color: #f0a4b1;
    }

    .export-color {
        color: #7ba4d5;
    }

    .type-icon {
        font-size: 40px !important;
        vertical-align: 18% !important;
    }
}
