<div class="modal-header info-modal-header">
    <button type="button" class="close" ng-click="$ctrl.closeModal()">&times;</button>
    <h4 class="modal-title">Job Details</h4>
</div>
<div class="modal-body">

    <div ng-if="$ctrl.job && $ctrl.job.job_type == 'export' ">
        <h4>Job Parameters</h4>
        <table class="table table-bordered">
            <tr>
                <td>Exported Service</td>
                <td>{{$ctrl.job.tasks[0].name}}</td> 
            </tr>
            <tr>
                <td>Created</td>
                <td>{{$ctrl.job.created_at | date: "MMM d, y"}} at {{$ctrl.job.created_at | date: "shortTime"}}</td> 
            </tr>
            <tr>
                <td>Progress</td>
                <td>{{$ctrl.job.percent}}%</td> 
            </tr>
            <tr ng-if="task.ETA.length">
                <td>ETA</td>
                <td>{{task.eta | date: "MMM d, y"}} at {{task.eta | date: "shortTime"}}</td> 
            </tr>
        </table>

    </div>



    <div ng-if="$ctrl.seedCleanPackageJob()">

        <h4>Job Parameters</h4>
        <table class="table table-bordered">
            <tr>
                <td>Created</td>
                <td>{{$ctrl.job.created_at | date: "MMM d, y"}} at {{$ctrl.job.created_at | date: "shortTime"}}</td> 
            </tr>
            <tr>
                <td>Progress</td>
                <td>{{$ctrl.job.percent}}%</td> 
            </tr>
            <tr>
                <td>Min Zoom</td>
                <td>{{$ctrl.job.min_zoom}}</td> 
            </tr>
            <tr>
                <td>Max Zoom</td>
                <td>{{$ctrl.job.max_zoom}}</td> 
            </tr>
            <tr>
                <td>North</td>
                <td>{{$ctrl.job.max_y}}</td>
            </tr>
            <tr>
                <td>South</td>
                <td>{{$ctrl.job.min_y}}</td>
            </tr>
            <tr>
                <td>East</td>
                <td>{{$ctrl.job.max_x}}</td>
            </tr>
            <tr>
                <td>West</td>
                <td>{{$ctrl.job.min_x}}</td>
            </tr>
        </table>

        <h4>Services</h4>
        <div ng-repeat="task in $ctrl.job.tasks">
            <h5>{{task.name}}</h5>
            <table class="table table-bordered">
                <tr ng-if="task.started_at">
                    <td>Started</td>
                    <td>{{task.started_at | date: "MMM d, y"}} at {{task.started_at | date: "shortTime"}}</td> 
                </tr>
                <tr>
                    <td>Progress</td>
                    <td>{{task.progress.percent}}%</td> 
                </tr>
                <tr ng-if="task.progress.eta">
                    <td>ETA</td>
                    <td>{{task.progress.eta | date: "MMM d, y"}} at {{task.progress.eta | date: "shortTime"}}</td> 
                </tr>
                <tr>
                    <td>Layer<span ng-if="task.layers.length > 1">s</span></td>
                    <td>{{task.layerNames}}</td> 
                </tr>
            </table>
        </div>

    </div>



</div>
