<div class="progress-page">
    <div class="container" ng-controller="ProgressController" style="padding-top:80px; min-width:1300px;">

        <!-- Search Bar -->
        <div class="row">
            <div class="col-xs-8 col-xs-offset-3">
                <div class="input-group search-input-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <!-- Filters -->
            <div class="col-xs-3">
                <job-filter-settings job-type-filters="jobTypeFilters" job-status-filters="jobStatusFilters"></job-filter-settings>
            </div>

            <!-- Jobs -->
            <div class="col-xs-8">
                <job-progress ng-repeat="job in jobs | filter: jobFilter track by job.id"
                job="job" num-tasks-to-show="numTasksToShow" show-all-tasks="showAllTasks"></job-progress>
            </div>
        </div>
    </div>
</div>
