
    <!-- ================ Side Navigation Bar Wrapper ========================= -->

<!-- Hide Side Nav Wrapper when not on map page -->
<!-- Note:  Manual visibility hiding is lagging, so this is necessary  -->
<div class="side-nav-wrapper" ng-show="$root.isMapCurrentView()">
<div id="side-nav" ng-class="{'open' : $root.sideNavOpen}">

    <!-- Only gray the the side nav if the add service button has been expanded -->
    <!-- <div ng-if="$ctrl.isSpeedDialOpened" class="shadow-overlay fade">

    </div> -->

    <!-- Search Bar -->
    <div id="search-wrapper">
        <i id="side-nav-search-icon" class="fa fa-search" aria-hidden="true"></i>
        <input type="text" id="search" ng-model="search" ng-focus="showList()" />
        <i id="clearSearch" ng-click="search = '';hideList()" class="fa fa-times" aria-hidden="true"></i>
    </div>

    <!-- add service button (circular)-->
    <div id="fab">
        <nav title="Add a map service." mfb-menu class="navbar-add-service-btn"
        position='br' effect="slidein-spring" active-icon="fa fa-plus" resting-icon="fa fa-plus"
        toggling-method="click"  ng-click="$ctrl.isSpeedDialOpened = !($ctrl.isSpeedDialOpened);">
            <button title="Connect a remove map service to GPEP." mfb-button icon="fa fa-lg fa-cloud" label="Add Service by URL" ng-click= "$ctrl.openAddServiceModal();"></button>
            <button title="Create a service from local data in a .pep or .gpkg file." mfb-button icon="fa fa-lg fa-upload" label="Import .pep or .gpkg File" ng-click= "$ctrl.openAddServiceFromFileModal()"></button>
        </nav>
    </div>

    <!-- ==================== Side Bar List ============================= -->

    <div id="side-nav-list">

        <div id=selectedLayerList ng-class="{'no-layers-selected' : $ctrl.selectedLayers.length == 0 && $ctrl.getSelectedBaseLayer() == undefined}">
            <div class="panel-group">
                <div class="panel panel-default" title="Drag and Drop to reorder layer order on map. Layers higher in list cover lower layers.">
                    <div class="panel-heading" ng-click="$ctrl.selectedLayers.isOpen = !$ctrl.selectedLayers.isOpen">
                        <h4 class="panel-title text-center">Reorder Selected Layers
                        </h4>
                    </div>

                    <div id="selectedList" class="panel-collapse collapse" uib-collapse="!$ctrl.selectedLayers.isOpen">

                        <!-- List of Selected Layer which can be rearranged -->
                        <!-- This list consist of all selected layers which are not base layers. -->
                        <ul dnd-list="$ctrl.selectedLayers" class="list-group">
                            <!-- Note: the disableGlobalFileDropping() is necessary to disable the drag-drop overlay from
                            appearing when dragging around the layers, as the entire browser is listening for all
                            drag events in order to trigger the entire screen overlay for dropping PEP files and
                            Geopackage (.gpkg) files. -->
                            <!-- Note 2:  Once the dragging is done, we then have to reenable to the file dropping, and ensure that
                            the overlay hadn't been triggered by forcibly removing it. -->
                            <li class="list-group-item"
                                ng-if="!$ctrl.isBaseLayer(layer)"
                                ng-repeat="layer in $ctrl.selectedLayers" track by layer.id
                                dnd-dragend="$ctrl.reorderLayers(); $ctrl.ImportOverlayService.enableOverlay(); $ctrl.ImportOverlayService.removeOverlay();"
                                dnd-dragstart="$ctrl.ImportOverlayService.disableOverlay();"
                                dnd-draggable="layer"
                                dnd-moved="$ctrl.selectedLayers.splice($index, 1)"
                                dnd-effect-allowed="move">

                                <div class="row dragItem">

                                    <!-- Drag Icon, lets the user know that this element is draggable -->
                                    <div class="col-xs-2">
                                        <i class="fa fa-ellipsis-v"></i>
                                        <i class="fa fa-ellipsis-v dragIcon"></i>
                                    </div>

                                    <!-- Layer title -->
                                    <div class="col-xs-7">
                                        {{layer.title}}
                                    </div>

                                    <!-- Deselection x, and visibliity toggle icons -->
                                    <div class="col-xs-3 text-right">
                                        <i class="fa fa-times" ng-click="$ctrl.deselectLayer(layer)"></i>
                                        <i ng-click="$ctrl.toggleVisibility(layer); layer.invisible = !layer.invisible" ng-class="{'fa fa-eye':!layer.invisible, 'fa fa-eye-slash':layer.invisible}"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <!-- The selected Base Layer, which always resides at the bottom of the selected layers list -->
                        <li ng-if="$ctrl.getSelectedBaseLayer() != undefined" class="list-group-item base-layer-in-selected-layers">
                            <div class="row dragItem">

                                <!-- empty space, used for alignment -->
                                <div class="col-xs-2">
                                </div>

                                <!-- Title of the Base Layer -->
                                <div class="col-xs-7">
                                    {{$ctrl.getSelectedBaseLayer().title}}
                                    <span class="base-layer-label">(base layer)</span>
                                </div>

                                <!-- Holds the x button, which allows that base layer to be deselected -->
                                <div class="col-xs-3 text-right">
                                    <i class="fa fa-times" ng-click="$ctrl.deselectLayer($ctrl.getSelectedBaseLayer())"></i>
                                    <!-- Placeholder, for proper alignment with other non-base layers -->
                                    <i class="fa fa-eye" style="visibility: hidden"></i>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div> <!-- Closing tag for selectedLayerList -->

        <!-- Wrapper for service name and layer names -->
        <div class="panel-group" ng-repeat="service in $ctrl.services track by service.id"
         ng-show="(service.layers|filter:{title:search}).length">
            <div class="panel panel-default" >
                <!-- Wrapper for Service Name -->
                <div class="panel-heading collapsed" style="padding-top:0px; padding-bottom:0px;">
                    <div class="row">
                        <div class="col-xs-10" style="padding:15px;"
                        ng-click="$ctrl.toggleServiceOpen(service.id)">
                            <!-- Service Name -->
                            <h4 class="panel-title">
                                <a>{{service.name}}</a>
                                <div class="fa fa-cube" ng-show="{{service.imported_geopackage}}" title="Imported GeoPackage"></div>
                            </h4>
                        </div>

                        <!-- Dropdown Menu (gear icon) -->
                        <div class="col-xs-1" style="padding:15px;">
                            <div class="btn-group" uib-dropdown>
                                <span class="fa fa-cog fa-lg" uib-dropdown-toggle></span>

                                <!-- Actual Contents of Toggleable Dropdown Menu -->
                                <!-- Note: The dropdown menu has a class of uib-dropdown-toggle so that clicking on any item
                                always closes it.  -->
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                                    <li role="menuitem" ng-click="$ctrl.exportService(service);">
                                        <a><i class="fa fa-arrow-circle-o-down text-left"></i>Export this Service </a>
                                    </li>

                                    <!-- Delete Service -->
                                    <li role="menuitem" ng-click="$ctrl.openDeleteServiceModal(service)">
                                        <a><i class="fa fa-trash-o text-left"></i> Delete</a>
                                    </li>

                                    <li class="divider"></li>

                                    <!-- Service Info -->
                                    <li role="menuitem">
                                        <a ng-click="$ctrl.openServiceInfoModal(service)"><i class="fa fa-info-circle"></i> Service Info</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Closing tag for panel heading -->

                <!-- layers accordion -->
                <div uib-collapse="!$ctrl.isServiceOpen(service.id)" class="panel-collapse collapse">
                    <ul class="list-group layerList">

                        <!-- layers in each service -->
                        <li ng-repeat="layer in service.layers|filter:{title:search} track by layer.id" class="layer"
                        ng-class="{'base-layer': $ctrl.isBaseLayer(layer)}">

                            <!-- Checkbox and label for each layer -->
                            <input type="checkbox" id="toggle-{{layer.id}}" ng-checked="$ctrl.isLayerSelected(layer)"
                             ng-click="$ctrl.toggleLayer(layer)" ng-true-value='true' ng-false-value='false' />
                            <label class="layer-label" for='toggle-{{layer.id}}'>
                                <i class="fa fa-check" ng-show="$ctrl.isLayerSelected(layer)">
                                </i>
                                {{layer.title}}

                                <!-- label which only shows on layers which are base layers -->
                                <span class="base-layer-label" ng-if="$ctrl.isBaseLayer(layer)">(base layer)</span>
                            </label>

                            <div class="btn-group layer-menu-dropdown" uib-dropdown uib-dropdown-toggle>

                                <span class="fa fa-ellipsis-v fa-lg layer-menu-toggle"></span>

                                <!-- Actual Contents of Toggleable Dropdown Menu -->
                                <!-- Note: The dropdown menu has a class of uib-dropdown-toggle so that clicking on any item
                                always closes it.  -->
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                                    <li ng-if="$ctrl.isBaseLayer(layer)" role="menuitem" ng-click="$ctrl.unsetBaseLayer(layer);">
                                        <a><i class="fa fa-globe base-layer-icon text-left"></i>Undo as Base Layer </a>
                                    </li>

                                    <li ng-if="!$ctrl.isBaseLayer(layer)" role="menuitem" ng-click="$ctrl.setBaseLayer(layer);">
                                        <a><i class="fa fa-globe base-layer-icon text-left"></i>Make Default Base Layer </a>
                                    </li>
                                </ul>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- Give some extra space at the bottom, to get past the plus button -->
        <div style="height: 60px;">
        </div>

    </div>


</div>
<!-- closing tag of side-nav -->

</div> <!-- end side-nav-wrapper -->
